<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>pokequiz</title>
<link rel="stylesheet" href="/static/index.css">
</head>
<body>
	<p>第 {{ stage.current }} 問</p>
	<p>問題：</p>
	<p>このポケモンは？<br>{{ quiz.question }}</p>
	{% for option in quiz.options %}
		<input type="radio" name="option" id="{{ option.name }}" class="{{ option.class_name }}">
		<label class="option_label" for="{{ option.name }}">{{ option.name }}</label>
	{% endfor %}
	<div id="result_correct">
		<p>結果：</p>
		<p>正解！</p>
		<img src="{{ quiz.answer_image }}">
		<form action="/" method="get">	
			<input type="hidden" name="stage" value="{{ stage.next }}">
			<input type="submit" value="次の問題へ">
		</form>
	</div>
	<div id="result_wrong">
		<p>結果：</p>
		<p>残念！正解は<strong> {{ quiz.answer_name }} </strong>でした。</p>
		<img src="{{ quiz.answer_image }}">
		<form action="/" method="get">	
			<input type="submit" value="最初に戻る">
		</form>
	</div>
</body>
</html>
