<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>pokequiz</title>
</head>
<body>
	<p>{{ message }}</p>
	<p>問題：</p>
	<p>このポケモンは？<br>{{ question }}</p>
	<ul>
	{% for option in options %}
		<li>{{ option }}</li>
	{% endfor %}
	</ul>
	<div>
		<p>結果：</p>
		<p>残念！正解は<strong> {{ answer_name }} </strong>でした。</p>
		<img src={{ answer_image }}>
		<button>次の問題へ</button>
	</div>
</body>
</html>
